<section class="bg-white dark:bg-gray-900 border-b border-gray-200 dark:border-gray-600">
    <div class="flex flex-col items-center justify-between p-4">
        <h1 class="my-3 mx-auto dark:text-white">Liste des offres d'emplois disponible</h1>
        @if (jobOffers) {
            <ul class="w-full divide-y divide-gray-200 dark:divide-gray-700">
                @for (item of jobOffers; track $index) {

                    <li class="py-3 px-2 hover:border-s-blue-400 hover:border-s-4 my-2 hover:shadow-sm hover:shadow-gray-300 dark:hover:shadow-gray-700 bg-white dark:bg-gray-800">
                        <div class="flex justify-center items-center w-full  space-x-4 ">
                            <div class="">
        
                            </div>
                            <div class="flex-1 min-w-2">
                                <p class="text-sm font-medium text-gray-900 truncate dark:text-white">
                                   {{item.title}}
                                </p>
                                <p class="text-sm text-gray-500 truncate dark:text-gray-400">
                                    {{item.location}}
                                </p>
                            </div>
                            <div class="inline-flex items-center text-base font-semibold text-gray-900 dark:text-white">
                                <a [routerLink]="['/portal','jobs', 'details', item.id]"  class="text-gray-800 border border-blue-700 focus:outline-none focus:ring-4 focus:ring-blue-300 font-medium rounded-full text-sm px-5 py-2.5 text-center me-2 mb-2 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">Postuler</a>
                            </div>
                        </div>
                    </li>
                }
            </ul>
        } @else {
            <div class="flex justify-center items-center w-full  space-x-4 ">
                <div class="">
                    <p class="text-sm font-medium text-gray-900 truncate dark:text-white">
                        Aucune offre d'emploi disponible
                    </p>
                </div>
            </div>
        }
    </div>
</section>
