<footer
  class="hidden bg-white  rounded-lg shadow sm:flex sm:items-center sm:justify-between px-4 py-2 sm:p-6 xl:p-4 dark:bg-gray-800 antialiased">
  <div class="max-w-screen-xl flex items-center justify-between mx-auto p-">
    <p class="mb-4 text-sm text-center text-gray-500 dark:text-gray-400 sm:mb-0">
      &copy; 2024-{{ currDate | date: 'YYYY' }} <a
      class="hover:underline underline-offset-2 dark:text-blue-500 decoration-pink-500 decoration-2 font-semibold text-blue-800"
      href="#"
      target="_blank">ars-app.com</a>.
      All rights reserved.
    </p>
  </div>

</footer>

